
:root {
  --bg: ##0000005e;
  --text: #e2e8f0;
  --sub-text: ##ede8e8;
  --box: #619d9db0;
  --title: #2dab6b;
  --link:#61a7e2;
}

[data-theme='dark'] {
  --bg: #0f172a;
  --text: #e2e8f0;
  --box: #3d4046ba;
}
.big{
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ragular {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
span{
  color: var(--link);
}
p:hover{
  transform: translateY(-5px);
  transition: .5s;
}






